### Extract e mais algumas mudanças de transformação

In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandasql as ps

In [69]:
algora = pd.read_csv('algoraquant.csv')
algora['vl_valor'] = algora['vl_valor'].fillna(0)
algora['vl_vpa'] = algora['vl_vpa'].fillna(0)

In [70]:
import pandas as pd

# Exemplo de DataFrame
# algora = pd.DataFrame({
#     'vl_vpa': ['1,8100', '2,0000', '1.056.2292', 3.5000],  # Valores mistos
#     'vl_valor': ['4,33%', '2,50%', '5,00%']
# })

# Função para calcular o novo valor
def calcular_valor_normal(row):
    # Limpa e formata 'vl_vpa' antes de converter para float
    vpa_str = str(row['vl_vpa']).replace('.', '').replace(',', '.').strip()  # Remove milhar e converte decimal
    try:
        vpa = float(vpa_str)  # Converte para float
    except ValueError:
        return None  # Retorna None se a conversão falhar
    
    # Remove o '%' e substitui a vírgula por ponto, depois converte para float
    variacao = float(row['vl_valor'].replace('%', '').replace(',', '.'))
    
    # Calcula o novo valor
    novo_valor = vpa * (1 + variacao / 100)
    return novo_valor

# Filtra as linhas onde 'vl_valor' contém '%'
filtro_percentual = algora['vl_valor'].str.contains('%', na=False)

# Aplica o cálculo apenas para essas linhas
algora.loc[filtro_percentual, 'vl_valor'] = algora.loc[filtro_percentual].apply(calcular_valor_normal, axis=1)

In [71]:
import pandas as pd

# Supondo que você já tem o DataFrame 'algora'

# Lista de colunas para as quais queremos aplicar a conversão
colunas_para_convertir = [
    'vl_avaliacao_media_ativos_fundo', 'vl_quantidade_imoveis', 'vl_valor',
    'vl_liquidez_media_diaria', 'vl_pvp', 'vl_dividendo', 'vl_yeld',
    'vl_soma_yield_3m', 'vl_soma_yield_6m', 'vl_soma_yield_12m',
    'vl_media_yield_3m', 'vl_media_yield_6m', 'vl_media_yield_12m',
    'vl_soma_yield_ano_corrente', 'vl_variacao_cotacao_mes', 'vl_rentabilidade_mes',
    'vl_rentabilidade', 'vl_patrimonio', 'vl_vpa', 'vl_pvpa', 'vl_vpa_yield',
    'vl_vpa_change', 'vl_vpa_rent_m', 'vl_vpa_rent', 'vl_ativos',
    'vl_volatility', 'vl_numero_cotista', 'vl_vacancia_fisica', 'vl_vacancia_financeira'
]

# Função para converter a coluna para float
def converter_para_float(coluna):
    try:
        # Remove os pontos (separadores de milhar)
        coluna = coluna.str.replace('.', '', regex=False)
        # Substitui a vírgula por ponto (separador decimal)
        coluna = coluna.str.replace(',', '.', regex=False)
        # Converte para float
        return coluna.astype(float)
    except Exception as e:
        print(f"Erro ao converter coluna: {e}")
        return coluna  # Retorna a coluna original em caso de erro

# Aplica a conversão para cada coluna na lista
for coluna in colunas_para_convertir:
    if coluna in algora.columns:
        algora[coluna] = converter_para_float(algora[coluna])

Erro ao converter coluna: Can only use .str accessor with string values!
Erro ao converter coluna: Can only use .str accessor with string values!
Erro ao converter coluna: could not convert string to float: '1.19 %'
Erro ao converter coluna: could not convert string to float: '3.46 %'
Erro ao converter coluna: could not convert string to float: '6.85 %'
Erro ao converter coluna: could not convert string to float: '6.85 %'
Erro ao converter coluna: could not convert string to float: '1.15 %'
Erro ao converter coluna: could not convert string to float: '1.37 %'
Erro ao converter coluna: could not convert string to float: '1.37 %'
Erro ao converter coluna: could not convert string to float: '6.85 %'
Erro ao converter coluna: could not convert string to float: '1.27 %'
Erro ao converter coluna: could not convert string to float: '2.48 %'
Erro ao converter coluna: could not convert string to float: '12.91 %'
Erro ao converter coluna: could not convert string to float: 'R$ 251207018.99'
Erro ao converter coluna: could not convert string to float: '1.27 %'
Erro ao converter coluna: could not convert string to float: '0.00 %'
Erro ao converter coluna: could not convert string to float: '0.00 %'
Erro ao converter coluna: could not convert string to float: '0.00 %'
Erro ao converter coluna: could not convert string to float: '0.00 %'
Erro ao converter coluna: could not convert string to float: '0.0000%'
Erro ao converter coluna: could not convert string to float: '17.9000%'

Pronto estamos prontos para começar as nossas análises exploratórias, aqui deixamos apenas valores decimais facieís de serem tratados, 
ou seja ... que não nenhum tipo de porcentagem envolvido, ficando cerca de 10 colunas de valores a serem análisados de acordo com a estatística

In [72]:
algora = algora.drop(columns=['Unnamed: 0','valor_decimal', 'vl_vpa_rent','vl_vpa_rent_m','vl_vpa_change','vl_vpa_yield','vl_pvpa','vl_rentabilidade',
                              'vl_rentabilidade_mes','vl_variacao_cotacao_mes','vl_soma_yield_ano_corrente','vl_yeld', 'vl_soma_yield_3m', 
                              'vl_soma_yield_6m', 'vl_soma_yield_12m', 'vl_media_yield_3m', 'vl_media_yield_6m', 'vl_media_yield_12m','vl_vacancia_financeira','vl_vacancia_fisica'])
# prenchendo os outros títulos com os valores de Humanidade

numeric_columns = ['vl_media_taxa_homicidios', 'vl_avaliacao_media_ativos_fundo', 'vl_quantidade_imoveis']

# Aplicamos o 'groupby' apenas nas colunas numéricas
algora[numeric_columns] = algora.groupby('nm_titulo')[numeric_columns].transform(lambda x: x.fillna(x.mean()))

### Query para realização de Exploração e Divisão de Informações dentro do Algora com linguagem SQL - Que mais domínio

nm_titulo
0	CPTS11B
1	FIXX11
2	RBBV11
3	BZLI11
4	UBSR11
5	OUCY11
6	FOFT11
7	AFOF11
8	IFIE11
9	RBIV11
10	IFID11
11	QIFF11
12	EQIN11
13	ATSA11B
14	WPLZ11B
15	FIVN11
16	HMOC11
17	DMAC11
18	GRLV11
19	TRXL11
20	HGJH11
21	DOMC11
22	TBOF11
23	BBVJ11
24	BMLC11B
25	FFCI11
26	RDES11
27	FVBI11


Fundos que não existem ou pararam de existir ao longo dos anos ... 2016 até 202428	THRA11
29	GWIR11
30	AFCR11

In [97]:
query = """
SELECT *
FROM algora
WHERE 
  (
    (dt_inclusao BETWEEN '2018-01-01' AND '2019-12-12')
    OR 
    (dt_inclusao > '2021-08-15')
  )
  AND UPPER(TRIM(nm_setor)) NOT IN ('OUTROS', 'INDEFINIDO')
ORDER BY nm_setor DESC
"""

print(f"Temos {ps.sqldf(query, locals()).shape[0]} linhas e {ps.sqldf(query, locals()).shape[1]} colunas")
ps.sqldf(query, locals()).describe()

Temos 5468 linhas e 15 colunas

,vl_media_taxa_homicidios,vl_avaliacao_media_ativos_fundo,vl_quantidade_imoveis,vl_valor,vl_liquidez_media_diaria,vl_pvp,vl_dividendo,vl_vpa,vl_volatility,vl_numero_cotista
count,5133.000000,5133.000000,5133.000000,5305.000000,4.145000e+03,1930.000000,5468.000000,5.282000e+03,348.000000,3.760000e+02
mean,16.852880,1.201491,4.422170,507.558339,5.187070e+05,7.564342,8.075935,1.684129e+08,56.245259,3.698005e+04
std,28.570621,1.848818,10.311423,5101.019781,1.582898e+06,112.100370,114.035641,5.557515e+08,125.587508,9.469421e+04
min,0.000000,0.000000,0.000000,0.210000,0.000000e+00,0.010000,0.000000,-1.662371e+07,0.870000,0.000000e+00
25%,0.000000,0.000000,0.000000,66.570000,3.830000e+03,0.730000,0.405800,9.405933e+01,11.762500,3.147500e+02
50%,0.000000,0.000000,1.000000,90.980000,4.534367e+04,0.920000,0.710000,1.154453e+02,16.655000,3.550000e+03
75%,36.100000,3.271429,3.000000,108.850000,2.607500e+05,1.000000,1.060000,7.428048e+07,40.212500,2.464550e+04
max,119.900000,5.000000,72.000000,94794.810000,3.180000e+07,1961.670000,5302.020000,7.984130e+09,904.160000,1.142848e+06

### Análises Exploratórias

### Linha do Tempo Simplificada:

- **2016 - 2018**: Recuperação econômica lenta após recessão, juros elevados, FIIs em expansão inicial.
- **Junho de 2019**: Corte agressivo da Selic, cenário favorável para os FIIs.
- **2020 - 2021**: Pandemia de COVID-19 causa volatilidade, especialmente em FIIs de shoppings e escritórios.
- **2022 - 2024**: Retomada do mercado, elevação da Selic impacta o retorno dos FIIs, mas setores como logística e recebíveis ganham força.

### Iniciando na Modelagem KMEANS
Ideia: 
Motivo: